.MapShuffle {
  text-align: center;
}

.title {
  color: red;
  font-size: 3em;
  margin: 7px;
  font-family: courier;
}

.subtitle {
  color: blue;
  margin: 0px;
  font-family: courier;
}

.credits {
  font-size: 0.8em;
}

.map-options {
  font-size: 0.7em;
}

.map {
  height: 400px;
  width: 700px;
  padding-top: 20px;
  vertical-align: middle;
  display: inline-block;
}
