.MapShuffle {
  font-family: georgia;
  text-align: center;
}

.header {
  font-family: courier;
}

.title {
  color: #E53935;
  color: red;
  font-size: 3em;
  margin-top: 7px;
  margin-bottom: 0px;
}

.subtitle {
  color: #1565C0;
  margin: 0px;
}

.info p {
  margin: 5px;
}

.info-link {
  font-size: 14px;
}

.intro-pic {
  max-height: 50%;
  max-width: 50%;
}

.map-container {
  height: 24em;
  width: 70%;
  padding-top: 15px;
  vertical-align: middle;
  display: inline-block;
}

.map-options {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  float: center;
}

.map-checkboxes {
  font-size: 13px;
}

.credits {
  font-size: 0.8em;
  margin: 0px;
}
