.MapShuffle {
  text-align: center;
  font-family: optima;
}

.header {
  font-family: courier;
}

.title {
  color: #E53935;
  color: red;
  font-size: 3em;
  margin-top: 7px;
  margin-bottom: 0px;
}

.subtitle {
  color: #1565C0;
  margin: 0px;
}

.info p {
  margin: 5px;
}

.info {
  font-family: optima;
}

.intro-pic {
  height: 415px;
}

.map {
  height: 380px;
  width: 665px;
  padding-top: 15px;
  vertical-align: middle;
  display: inline-block;
}

.map-options {
  font-size: 0.7em;
}

.credits {
  font-size: 0.8em;
  margin: -12px;
}
